@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

.body {
    background-color: #E8F6EF;
}

.flex-conatiner {
    display: flex;
    flex-direction: row;

}

.search-icon {
    padding: 2px 5px;
    margin-top: 50px;
}
.search { 
    margin-top: 50px;
    margin-left: 1110px;
}



.ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    height: 46px;
    line-height: 46px;
    background-color: lightgray;
    font-size: 13px;
    border: 1px solid whitesmoke;
   
}

.li {
    float: left;
    border-right: 1px solid whitesmoke;
    font-size: 15px; 
    position: relative;
}

a {
    display: block;
    padding: 0px 28px;
    color: black;
    text-decoration: none;
}

a:hover {
    color: whitesmoke;
}

.photo1{
    width: 350px;
    height: 300px;
    padding: 10px 20px;
}

.photo2{
    width: 500px;
    height: 300px;
    padding: 10px 20px;
}

.logo1 {
    width: 150px;
    height: 75px;
}

.heading2 {
    font-size: 50px;
    margin-left: 10px;
    padding-top: 25px;
}

.heading3 {
    font-size: 30px;
    margin: 0px;
    padding-top: 10px;
}

.list {
    padding: 10px 20px;
}

.list-text {
    margin-top: 20px;
}

.section2 {
 width: 50px;
}

.news-text {
    margin: 10px;
}

.para-text {
    margin: 10px;
}

/* .ul1 {
    margin: 0px;
    padding: 0px;
    list-style: none;
    height: 60px;
    line-height: 60px;
    background-color: lightskyblue;
    font-size: 13px;
    border: 1px solid whitesmoke;
}

.li1 {
    float: right;
    border-right: 1px solid whitesmoke;
    font-size: 15px; 
} */




footer {
    text-align: left;
    padding: 3px;
    background-color: lightseagreen;
    color: black;
    height: 60px;
}
.p{
    margin-top: 20px;
}

footer ul li {
    display: block;
    float: right;
}